<!DOCTYPE html>
<html>
<head>
  <title>Broadcast plus sites</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "broadcast_plus_sites/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
